<!-- comments and notes go like this -->

<!--
OR comments and notes go like this
-->

<!doctype html>
<html>
  <head>
    <title>oops, no TITLE yet</title>
  </head>
  <body>
    <header>
      Header made with header element
    </header>
    <br/>

    <div class="headings">
      <h1>h1 heading</h1>
      <h2>h2 heading</h2>
      <h3>h3 heading</h3>
      <h4>h4 heading</h4>
      <h5>h5 heading</h5>
      <h6>h6 heading</h6>
    </div>
    <br/>

    <div class="paragraphs">
      <p>p #1 (paragraph - normal text)</p>
      <p>p #2 (paragraph - normal text)</p>
      <p>p #3 (paragraph - normal text)</p>
      <br/>
      <p>p #1 (paragraph - <span>span text</span>)</p>
      <p>p #2 (paragraph - <span>span text</span>)</p>
      <p>p #3 (paragraph - <span>span text</span>)</p>
    </div>
    <br/>

    <div class="link_section">
      <p> Link Section </p>

      <a href="https://www.google.com" target="_blank">LINK created with an anchor - target set to (_blank) to open in new tab - linked to another website</a><br/>

      <a href="page2.html" target="_blank">LINK created with an anchor - target set to (_blank) to open in new tab - linked to another page saved in project folder</a><br/>

      <a href="sub_pages/page3.html" target="_blank">LINK created with an anchor - target set to (_blank) to open in new tab - linked to another page saved in project, but another folder</a><br/>
    </div>
    <br/>

    <div class="forms_buttons_inputs">
      <form action="website or link for processing goes here" method="post">

          <div>
            <label for="name_for_input">Specific Data Needed (name, phone, etc.)</label><br/>
            <input name="name_for_input" type="text"/><br/>
        </div>

        <div>
          <label for="password">Password</label><br/>
          <input name="password" type="password"/><br/>
        </div>

        <input type="submit"/>
        <button>button element</button><br/>

        <input type="checkbox"/><br/>
        <input type="checkbox"/><br/>
        <input type="checkbox"/><br/>

        <input type="radio"/><br/>
        <input type="radio"/><br/>
        <input type="radio"/><br/>

        <select>
          <option>no action - make selection</option>
          <option>option #1 in select element</option>
          <option>option #2 in select element</option>
          <option>option #3 in select element</option>
        </select><br/>

      </form>
    </div>
    <br/>

    <div class="lists">
      <ul>
        <li>#1 on UL</li>
        <li>#2 on UL</li>
        <li>#3 on UL</li>
        <li>UL in UL
          <ul>
            <li>#1 on UL in UL</li>
            <li>#2 on UL in UL</li>
            <li>#3 on UL in UL</li>
          </ul>
        </li>
        <li>OL in UL
          <ol>
            <li>#1 on OL in UL</li>
            <li>#2 on OL in UL</li>
            <li>#3 on OL in UL</li>
          </ol>
        </li>
      </ul>

      <ol>
        <li>#1 on OL</li>
        <li>#2 on OL</li>
        <li>#3 on OL</li>
        <li>OL in OL
          <ol>
            <li>#1 on OL in OL</li>
            <li>#2 on OL in OL</li>
            <li>#3 on OL in OL</li>
          </ol>
        </li>
        <li>UL in OL
          <ul>
            <li>#1 on UL in OL</li>
            <li>#2 on UL in OL</li>
            <li>#3 on UL in OL</li>
          </ul>
        </li>
      </ol>
    </div>
    <br/>

    <div class="tables">
      <table>

        <tr>
          <th>|-------------th #1-------------|</th>
          <th>|-------------th #2-------------|</th>
          <th>|-------------th #3-------------|</th>
        </tr>

        <tr>
          <td>td #1 in tr #1</td>
          <td>td #2 in tr #1</td>
          <td>td #3 in tr #1</td>
        </tr>

        <tr>
          <td>td #1 in tr #2</td>
          <td>td #2 in tr #2</td>
          <td>td #3 in tr #2</td>
        </tr>

        <tr>
          <td>td #1 in tr #3</td>
          <td>td #2 in tr #3</td>
          <td>td #3 in tr #3</td>
        </tr>

      </table>
    </div>
    <br/>

    <div class="images">
      <img alt="Picture of Tim Berners Lee" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Sir_Tim_Berners-Lee_%28cropped%29.jpg" width=50 height=50/>
    </div>
    <br/>

    <footer>
      Footer made with footer element
    </footer>
    <br/>

  </body>
</html>
