html {
  height:100%;
}

body {
  background: lightblue;
  background: linear-gradient(to bottom right, lightgrey, white);
}

h1 {
  color: red;
  border: 1px solid red;
}

h2 {
  color: #FFF;
  border: 7px double green;
}

h3 {
  color: #000;
  border: 7px dashed orange;
}

h4 {
  color: rgb(24,24,255,0.5);
  border: 7px groove purple;
}

h5 {
  color: grey;
  border: 7px inset black;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: green;
  border: 7px outset yellow;
}

p {
font-size: 2em;
font-family: arial, sans-serif;
text-align: center;
text-decoration: underline;
}

.li_test {
  list-style-type: none;
  float: left;
  margin-right: 10px;
}

li {
  font-family: sans-serif;
  font-size: 17px;
  text-decoration: line-through;
}

ul {

}

ol {

}
